cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1757504921/work/dist/numpy-2.3.3-cp313-cp313-win_amd64.whl#sha256=7123fd08ae2ee4ef342228a7bb6f023138ac585d68d983d5db908f6c98e595fb
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496153123/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1734638032476/work
setuptools==78.1.1
soundfile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1737836266465/work
wheel==0.45.1
